@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    @apply flex items-start justify-center h-screen;
}

.container {
    grid-template-rows: auto 1fr auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    @apply grid max-w-[500px] w-[95vw] h-[615px] my-3 rounded-lg overflow-hidden;
}

.trans {
    @apply transition-all ease-linear duration-300;
}

.info {
    @apply text-xl text-center font-medium;
}

.btn {
    @apply py-1 px-4 bg-orange-500 rounded-md tracking-widest text-white text-xl;
}

.btn:hover {
    @apply bg-orange-300 text-slate-800;
}

h2 {
    @apply text-3xl font-medium text-slate-600;
}

a {
    @apply transition-all duration-200 ease-linear;
}

a:hover {
    @apply text-orange-300;
}

label {
    @apply text-xl text-slate-600 tracking-wider;
}

.new-note input,
textarea {
    @apply w-full rounded-md font-medium text-slate-500;
}

.new-note input:focus,
textarea:focus {
    @apply outline-none w-full;
}

.new-note input {
    @apply h-8;
}

textarea {
    @apply h-48 resize-none;
}